* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
}
body {
    // display: flex;
    background-color: #540804;
}
#get-btn {
    display: block;
    margin-top: 1rem;
    width: 10rem;
    height: 5rem;
    background-color: #0d1321;
    color: #fff;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    width: 80%;
}
#get-btn:hover {
    transform: scale(1.1);
}
#putImgHere {
    width: 1500px;
    height: 500px;
}
img {
    padding-top: 100px;
    width: 220px;
    max-width: 100%;
    padding: 5px;
    // display: none;
    border-radius: 10px;
}

// img:hover {
//     transform: scale(1.1);
//     transition: .3s;
// }
h1 {
    color: #fff;
    text-align: center;
    margin-top: 25px;
    font-size: 2rem;
}
#hide {
    display: none;
}
header {
    background-color: #0d1321;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#control-center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#post-btn {
    display: block;
    margin-top: 1rem;
    width: 10rem;
    height: 5rem;
    background-color: #0d1321;
    color: #fff;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.flex {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow: hidden;
    border-radius: 10px;
}
#new {
    background-color: #292929;
    width: 100%;
    font-size: 1rem;
}
#post-btn:hover {
    transform: scale(1.1);
}
#email-input {
    height: 22px;
}
.btn {
    font-weight: 600;
    font-size: 1.25rem;
    background-color: #495057;
    color: #367588;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 10px;;
}
h3 {
    position: relative;
    font-size: 20px;
    color: #f9f9f9;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#new {
    background-color: #292929;
    text-align: center;
}
#em {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#form {
    position: relative;
}
#form #email {
    width: 300px;
    background: #292929;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-style: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#form .inputBox {
    position: relative;
}
#text {
    display: block;
    color: #000;
    font-weight: 500;
    font-style: italic;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#form.invalid .inputBox:before {
    content: '';
    position: absolute;
    right: 12px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url(invalid.png);
    background-size: cover;
    z-index: 1000;
}
div#msg {
    color: #fff;
}

#generator {
    color: #540804;
    font-size: 7rem;
}
#generator p {
    color: #fff;
    border: solid 5px #000;
    background-color: #000;
    text-align: center;
    font-style: italic; 
    font-size: 25px;
}

@media screen and (min-width: 460px) {
    #new {
        font-size: 2rem;
    }
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 3rem;
    }
  
}

@media screen and (min-width: 768px) {
 
    #generator p {
        color: #fff;
        border: solid 5px #000;
        background-color: #000;
        text-align: center;
        font-style: italic; 
        font-size: 50px;
    }
}
@media screen and (min-width: 992px) {
 
}
@media screen and (min-width: 1260px) {
    
}
// #generator p:hover {
//     color: #540804;
//     border: #fff;
//     font-style: italic;
//     transition: .3s;
// }
@media screen and (min-width: 1285px) {
   
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
